.section {
  background: var(--Grey-08, rgba(20, 20, 20, 1));
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
.h1 {
  color: var(--Absolute-White, rgba(255, 255, 255, 1));

  font-family: 'Urbanist';
  font-style: SemiBold;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.lorem {
  color: var(--Grey-60, rgba(153, 153, 153, 1));

  font-family: 'Urbanist';
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
/*  */
.h2 {
  color: var(--Absolute-White, rgba(255, 255, 255, 1));

  font-family: 'Urbanist';
  font-style: SemiBold;
  font-size: 30px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.txt {
  color: var(--Grey-60, rgba(153, 153, 153, 1));

  font-family: 'Urbanist';
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.list {
  display: flex;
  justify-content: space-around;
}
.listItem {
  box-sizing: border-box;
  border: 1px solid var(--Grey-15, rgba(38, 38, 38, 1));
  border-radius: 12px;
  box-shadow: 0px 0px 0px 8px rgba(25, 25, 25, 1);
  background: var(--Grey-08, rgba(20, 20, 20, 1));
  /* Card */
  width: 505.67px;
  height: 256px;
  /* Автолейаут */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  padding: 50px;
}
