.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.h2 {
  color: var(--Absolute-White, rgba(255, 255, 255, 1));

  font-family: 'Urbanist';
  font-style: SemiBold;
  font-size: 48px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.p {
  color: var(--Grey-60, rgba(153, 153, 153, 1));

  font-family: 'Urbanist';
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
